<h1><%= @cocktail.name %></h1>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> - <%= dose.ingredient.name %> - <%= link_to "delete", cocktail_dose_path(@cocktail, dose), method: :delete %>
    </li>
  <% end %>
</ul>

<h4>Add dosage</h4>
<%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "Add here", class: "btn btn-success" %>
<% end %>

<%= link_to 'Back', cocktails_path %>



